site_name: Deployment Automation
features:
  - navigation.instant
  - navigation.indexes
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.tracking
  - navigation.top
  - toc.follow
  - navigation.sections
  - navigation.expand
  - navigation.tracking
  - content.code.annotate
nav:
  - Home: index.md
theme:
  name: material
palette:
  scheme: default
  primary: black  
lsi: false
safe: true
source: /
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
